.radio-button-wrapper > .radio-button {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.radio-button-wrapper input[type=radio] {
  height: 0;
  opacity: 0;
  width: 0;
  box-sizing: border-box;
  padding: 0;
}

.radio-button-icon {
  display: inline-block;
  line-height: 0;
  vertical-align: -0.325em;
  margin: 0 4px;
}

.radio-button-wrapper:first-child {
  border-left: 1px solid #999999;
  border-radius: 5px 0 0 5px;
}
.radio-button-wrapper:last-child {
  border-radius: 0 5px 5px 0;
}

.radio-button-wrapper {
  background: #ffffff;
  border-color: #999999;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  color: rgba(0,0,0,.85);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  position: relative;
}

.radio-button-wrapper.active {
  background: #666666;
  color: #ffffff;
}
