
h2 {
  font-weight: 800;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px; 
}
    
.Collapsible {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  align-items: stretch;

}

.Collapsible__contentInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px 10px;
  background: #FFFFFF;
  align-items: stretch;
}

.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px; 
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0; 
}

.Collapsible__trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 10px;
 
  background: #F7F7F7;
  border-radius: 5px;

  flex: none;
  order: 0;
  align-self: stretch;
  margin: 3px 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

.Collapsible__trigger:after {
  content: url(../assets/chevron.svg);              
  transition: transform 300ms; 
  margin-left: auto;
  transform: rotateZ(180deg); 
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(0deg); 
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
}
