.legend {
    padding: 12px 12px;
    margin-top: auto; /* Ensure this sticks to the far end of flex layouts */
    margin-left: 10px;
    margin-bottom: 98px;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    pointer-events: auto;
}