.mapboxgl-popup-content {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;    
  -khtml-user-select: none;     
  -moz-user-select: none;       
  -ms-user-select: none;       
  user-select: none;
  pointer-events:auto;
  border: none;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 5px 8px 4px;
  box-shadow: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-ctrl-top-left {
  margin-top: 80px;
  margin-left: 14px;
}

.mapboxgl-canvas {
  width:100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.mapOnlySearchBar {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

.popup-text-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.popup-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 250%;
  color: #000000;
}

.popup-root {
  padding: 15px;
}