.mapboxgl-popup-content {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;    
  -khtml-user-select: none;     
  -moz-user-select: none;       
  -ms-user-select: none;       
  user-select: none;
  pointer-events:none;
  border: none;
  background: #ffffffdd;
  padding: 5px 8px 4px;
  box-shadow: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-ctrl-top-left {
  margin-top: 80px;
  margin-left: 14px;
}

.mapOnlySearchBar {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

.map {
  left: 0px;
}
