.progressBar {
  counter-reset: step;
  display: flex;
  margin-bottom: 30px;
}
.progressBar li {
  list-style-type: none;
  text-align: center;
  font-weight: 600;
  flex: 1;
}
.progressBar li p {
  color: black;
}
.progressBar li.active {
  color: #666666;
}
.progressBar li .progressGraphic {
  display: flex;
  align-items: center;
}
/* CSS for creating horizontal line */
.progressBar li .progressGraphic:before, .progressBar li .progressGraphic:after {
  content: '';
  flex: 1;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 2px #666666 solid;
}
.progressBar li:first-child .progressGraphic:before, .progressBar li:last-child .progressGraphic:after {
  border-color: transparent;
}
/* CSS for creating progress bubbles */
.progressBar li .progressBubble {
  height: 22px;
  width: 22px;
  border: 4px solid #666666;
  margin-top: 6px;
  margin-bottom: 16px;
  border-radius: 50%;
  background-color: white;
}
.progressBar li.completed .progressBubble {
  background-color: #666666;
}
.progressBar li.active .progressBubble {
  background-color: #666666;
  width: 34px;
  height: 34px;
  margin-top: 0;
  margin-bottom: 10px;
}
