.panel-container {
    display: flex;
    flex-direction: column;
}

.sidebar-container {
    transition: transform linear 0.8s;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.closed {
    transform: translateX(-100%);    
    left: 20px !important;
}

.toggleButton {
    background-color: lightgray;
    color: gray;
    cursor: pointer;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.expand {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.collapse {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}